.container{
	width: 100%;
	font-family: sans-serif;
}

.top-header{
	height: 45px;
	width:  100%;
	background-color: #222222;
	color: 	#CACACA;
	z-index: 9999;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.top-header .left {
	float: left;
}

.top-header .left li{
	display: block;
	float: left;
	width: 95px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}

.top-header .left li:hover{
	background-color: #000;
	cursor: pointer;
}

.top-header .right {
	float: right;
}

.top-header .right li{
	display: block;
	float: left;
	width: 95px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}

.top-header .right li:hover{
	background-color: #000;
	cursor: pointer;
}

.center-ad{
	display: block;
	width: 100%;
	height: 520px;
	background-image: url(../images/ad3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.ad-content{
	display: block;
	width: 100%;
	/* height: 520px; */
	z-index: 1;
}
 
/*高斯模糊*/
.scaled-image {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.blurry-image {
    -webkit-filter: blur(20px);
    filter: blur(20px)
}

.animated-image {
    -webkit-filter: none;
    filter: none;
    transition: background-image .2s ease-out,-webkit-filter .2s ease-out;
    transition: background-image .2s ease-out,filter .2s ease-out;
    transition: background-image .2s ease-out,filter .2s ease-out,-webkit-filter .2s ease-out
}

/*暗色背景*/
.dark-image{
    filter: brightness(.5)
}

.ad-content .font{
	vertical-align: inherit;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 40px;
    width: 100%;
    height: 50px;
}

.ad-content .center-title{
    position: absolute;
    top:150px;
    z-index: 9999;
    color: #fff;
}

.ad-content .center-qidian{
    position: absolute;
    top:250px;
    z-index: 9999;
    color: #fff;
    height: 60px;
    line-height: 60px;
    display: block;
    width: 100%;
}

.center-qidian .foot{
	display: inline-block;
	line-height: 60px;
	background-color: #fff;
	color: #626262;
	width: 500px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
	left:-12px;
	cursor: pointer;
    letter-spacing: 15px;
}

.center-qidian .head{
    display: inline-block;
    background-color: #F5F5F5;
    color: #4B4B4B;
    font-size: 12px;
    line-height: 60px;
    width: 115px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    top: -11px;
    cursor: pointer;
}

.center-qidian .head:hover{
	opacity: 0.9;
}

.center-foot-ad{
	width: 100%
	height: 80px;
	min-height: 80px;
	background-color: #2680EB;
	z-index: 9999;
	position: relative;
}

.center-foot-ad .title{
	width: 100%;
	line-height: 80px;
	text-align: center;
    vertical-align: inherit;	
	font-size: 30px;
	color: #fff;
	font-family: sans-serif;
}

.center-foot-ad .title a{
	color: #fff;
	height: 36px;
	width: 96px;
	line-height: 80px;
	border: 2px solid #fff;
	border-radius: 15px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
    bottom: 5px;
}

.center-foot-ad .title a span{
	display: inline-block;
	position: relative;
	top: -28px;
	font-size: 15px;
}

.center-foot-ad .title a:hover{
	background-color: #fff;
	color: #2680EB;
	transition: background .3s linear 0s, color .3s linear 0s;
}

.content{
	text-align: center;
	padding-top: 50px;
	min-height: 380px;
}

.content h2{
	font-size: 44px;
	line-height: 100px;
}

.content p a{
	color: #2680EB;
}

.content .icons{
	background-image: url(../images/app_icons.png);
	background-repeat: no-repeat;
	width: 665px;
	height: 140px;
	display: block;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
}

.footer{
	min-height: 100px;
	background-color: #F2F2F2;
	color: #888888;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
}

.split-40{
	height: 40px;
}

.split-10{
	height: 10px;
}